.container-DanhmucSP1 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DanhmucSP {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.glass {
    /* position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    height: 100%;
    opacity: 0.3;
    transform: rotate(-30deg);
    margin-left: -5%;
    margin-top: -7%;
    display: none; */

    position: absolute;
    top: -40%;
    left: -70%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: rotate(30deg);
    /* transform: skewX(-30deg); */
    z-index: 1;
}

.glassShow {
    width: 100%;
    height: 99%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    display: none;
    position: absolute;

}

.DanhmucSP:hover>.glassShow {

    /* Bắt đầu với opacity là 0 để ẩn phần tử */
    transition: opacity 0.3s 0.5s;
    /* Thuộc tính cần thực hiện transition và delay 3s */
    display: block;
    z-index: 2;
    transform: scale(2);

}

.mucngang {
    height: 2px;
    width: 50%;
    left: 0;
    z-index: 2;
    bottom: 60px;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    background: red;
    transition-duration: 0.5s;
    transition-delay: 0.8s;
}

.contenlogo {
    position: absolute;
    text-align: right;
    font-size: 14px;
    width: 70%;
    margin-top: 40%;
    margin-left: 20%;
    opacity: 0;
    color: orange;
}

.DanhmucSP:hover>.contenlogo {
    /* transition: transform 0.5s ease; */
    animation: ShowContent 1s normal forwards;
}

@keyframes ShowContent {
    from {
        opacity: 0;
        margin-top: 40%;
    }

    to {
        opacity: 1;
        margin-top: 60%;
    }
}

.contenlogo>a {
    text-decoration: none;

    color: rgb(0, 102, 255);
}

.mucdoc {
    width: 2px;
    height: 99%;
    left: 60px;
    z-index: 2;
    top: 0;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    background: red;
    transition-duration: 0.5s;
    transition-delay: 0.8s;
}

.DanhmucSP:hover>.mucngang {
    transform: scaleY(1);
    /* Khi hover vào, thay đổi scaleY thành 1 để phần tử dài ra */
}

.DanhmucSP:hover>.mucdoc {
    transform: scaleY(1);
    /* Khi hover vào, thay đổi scaleY thành 1 để phần tử dài ra */
}

.DanhmucSP:hover>.glassShow:hover {

    transform: scale(2);
    /* Khi hover vào .glassShow, hiển thị nó bằng cách đặt opacity là 1 */
}

.DanhmucSP:hover>.glass {


    animation: GlassNow 2s normal;



}

.imgicon {
    width: 30px;
    bottom: 0;
    height: 30px;
    transform: scale(0);
    left: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    position: absolute;
    z-index: 2;

    transition: transform 0.5s ease;
}

.DanhmucSP:hover>.imgicon {
    transition-delay: 0.8s;

    transform: scale(1);

}


/* @keyframes Sacle {
    from {
        height: 0px;
        width: 0px;
    }

    to {
        height: 40px;
        width: 40px;
    }
} */

@keyframes ShowDoc {
    from {
        width: 2px;
        height: 100%;
    }

    to {}
}

@keyframes GlassNow {
    from {
        height: 30px;
        width: 40%;


    }

    to {

        transform: scale(2);
        width: 700px;
        height: 700px;

    }



}

.DanhmucSP-img {
    height: 300px;
    width: 300px;


}

.container-DanhmucSP2 {

    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}